[auth_info_0]
username=TRANSCRIBER_USERNAME
passwd=TRANSCRIBER_PASSWORD
realm=*
domain=204671.tenios.com

[proxy_0]
reg_identity="sip:TRANSCRIBER_USERNAME@204671.tenios.com"
reg_proxy="sip:sip.tenios.com;transport=tls"
reg_expires=300

[app]
auto_answer=yes

[sound]
record_file=/app/recordings/call_%c.wav
play_dev=ALSA:default
rec_dev=ALSA:default
